<div class="no-featured-article">
  <h1>Welcome</h1>
  <h3>Looks like you are the first user or there are currently no any articles. Here is what you can do next.</h3>
  <ul>
    <li><%=link_to 'CREATE', new_category_path %> a new category.</li>
    <li>Give it a name a and priority number.</li>
    <li>Now you are ready to <%= link_to 'WRITE', new_article_path %> a new article </li>
    <li>You may write on any existing (if any) category too.</li>
  </ul>
</div>