<div class="index-article-container">
  <h2>All Articles</h2>
  <% @articles.each do |article| %>
    <div class="index-article-single">
      <p><%= link_to article.title, article_path(article) %></p>
      <%= link_to article_path(article) do %>
      <%= image_tag(article.image.variant(resize_to_limit: [200, 200]))%>
      <% end %>
    </div> 
  <% end %>
</div>