footer {
  height: 55px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $backgroundColor;
  z-index: 10;
  font-size: 14px;
  padding: 0 10px;

  p {
    color: white;
  }

  a {
    color: $footerLinksColor;
  }

  .footer-left {
    width: 20%;

    .nav-logo {
      height: auto;
      width: 110px;
    }
  }

  .footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;

    a,
    p {
      padding: 8px;
    }
  }

  .footer-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #social {
      margin: 20px 10px;
      text-align: center;
    }

    .smGlobalBtn { /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 0;
      margin: 2px;
      text-decoration: none;
      text-align: center;
      color: $backgroundColor;
      font-size: 20px;
      line-height: 1.7em;
      border-radius: 27px;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      background: $footerLinksColor;
    }

    /* facebook button class */
    .facebookBtn::before {
      font-family: "FontAwesome", sans-serif;
      content: "\f39e";
    }

    /* twitter button class */
    .twitterBtn::before {
      font-family: "FontAwesome", sans-serif;
      content: "\f099";
    }

    /* instagram button class */
    .instagramBtn::before {
      font-family: "FontAwesome", sans-serif;
      content: "\f16d";
    }
  }
}
