// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// home page layout

.featured_article {
  height: 55vh;
  width: 100%;
  background: $backgroundColor;    
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;

  .info {
    position: absolute;
    bottom: 10px;
    left: 20px;

    .feat-title a {
      color: $footerLinksColor;
      font-weight: 900;
      font-size: 20px;
    }

    .feat-text {
      font-size: 14px;
      padding-top: 10px;
    }
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .single-category {
    height: 28.7vh;
    background: $backgroundColor;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;

    .title-category a {
      text-decoration: underline $footerLinksColor;
    }

    .title-category, .title-category a, .title-latest {
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
      padding: 10px 0 0 10px;
    }

    .title-latest {
      position: absolute;
      bottom: 25px;
      left: 10px;
    }
  }
}

// show page layout

.show-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .show-article {
    display: flex;
    height: 41.8vh;
    width: 100%;

    .show-article-image {
      height: 100%;
      width: 50%;
      background-position: top;
      background-repeat: no-repeat;
    }

    .show-article-description {
      width: 50%;
      background-image: repeating-linear-gradient(-45deg, #fff 0 4px, #f3f3f3 4px 5px);
      padding: 20px;
      position: relative;

      .show-category-name {
        color: $categoryNameColor;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 7px;
        border-bottom: 3px solid $categoryNameColor;
      }

      .show-article-title {
        padding-top: 5px;
        margin-bottom: 7px;
      }

      .show-article-title a {
        color: $fontColor;
        font-weight: 900;
        text-transform: capitalize;
      }

      .show-article-text {
        color: $fontColor;
        font-size: 16px;
      }

      .article-vote {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        color: $fontColor;
        font-size: 14px;

        .show-article-vote a {
          color: $footerLinksColor;
        }
      }
    }
  }

  .show-article:nth-child(4n+3), .show-article:nth-child(4n+4) {
    flex-direction: row-reverse;
  }
}