<div class="featured_article" style="background-image: url(<%= (url_for(@featured_article.image))%>")>
  <div class="info">
    <div class="feat-title">
      <%= link_to @featured_article.title, article_path(@featured_article) %>
    </div>
    <div class="feat-text">
      <%= @featured_article.text.truncate(300) %>
    </div>
  </div>
</div>

<div class="categories">
  
</div>


<!--<% @categories.each do |cat| %>
  <h3><%=link_to cat.name, category_path(cat) %></h3>
<% end %>-->