<nav class="container-fluid">
  <div class="navbar-header">
    <%= link_to 'Articles', '#' %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Sign up', signup_path %></li>
  </ul>
</nav>